body{
    margin: 0;
}

*{
    font-family: Verdana;
    background-color: lightblue;
}

.container{
    display: flex;
    flex-direction: column;
}

.wrapper{
    box-sizing: border-box;
    padding: 25px 25px 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 90px;
}

.navbar{
    font-size: 18px;
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.main{
    box-sizing: border-box;
    padding: 5px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2{
    color: forestgreen;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.pictures{
    margin: 15px;
    width: 45vw;
}

.link{
    width: 40vw;
}

.photo{
    width: 40vw;
}

.box{
    font-size: 20px;
    width: 45vw;
}

#herbtitle{
    background-color: white;
}

#omnititle{
    color: white;
    background-color: forestgreen;
}

#carnititle{
    background-color: plum;
}